{{ define "main" }}
<section class="hero">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="has-text-centered">
      <p class="title">
        {{ .Title | title }}
      </p>
      <p class="subtitle">
        List of Pages
      </p>
    </div>
  </div>
  <div class="hero-foot"></div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-quarter">
        {{- partial "tree.html" (dict "context" . "url" .Permalink) }}
      </div>
      <div class="column is-three-quarters">
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Page Title</th><th>Last Modified</th><th>Summary</th>
            </tr>
          </thead>
          <tbody>
            {{- range .Pages }}
            <tr>
              <td><a href="{{ .Permalink }}">{{ .Title | title }}</a></td>
              <td><time>{{ .Date.Format "January 2, 2006" }}</time></td>
              <td>{{ .Summary }}</td>
            </tr>
            {{- end }}
          </tbody>
        </table>
      </div> <!-- column -->
    </div> <!-- columns -->
  </div> <!-- container -->
</section>
{{ end }}
