{{ define "main" }}
<section class="hero">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="has-text-centered">
      <p class="title">
        {{ .Title | title }}
      </p>
      {{- if .Params.subtitle }}
      <p class="subtitle">
        {{ .Params.subtitle }}
      </p>
      {{- end }}
    </div>
  </div>
  <div class="hero-foot"></div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-quarter">
        {{- partial "tree.html" (dict "context" . "url" $.Permalink) }}
      </div>
      <div class="column is-three-quarters">
        <article class="content has-text-black">
          {{ .Page.Content }}
        </article>
      </div> <!-- column -->
    </div> <!-- columns -->
  </div> <!-- container -->
</section>
{{ end }}
